<!DOCTYPE html>
<html lang="en">
    <%-include('partials/encabezado.html')%>
<body>
    <div class="container " style="width:600px; padding: 1%; background-color: #5B78FE;">
        <form method="POST" onsubmit="calcularPago(event)">
          <div class="form-group">
            <label for="numContrato" style="color:white">Num. de contrato</label>
            <input type="number" class="form-control" id="numContrato" name="numContrato" required>
          </div>
          <div class="form-group">
            <label for="Nombre" style="color:white">Nombre</label>
            <input type="text" class="form-control" id="Nombre" name="Nombre" required>
          </div>
          <div class="form-group">
            <label for="domicilio" style="color:white">Domicilio</label>
            <input type="text" class="form-control" id="domicilio" name="domicilio" required>
          </div>
          <div class="form-group">
            <label for="nivelEstudios" style="color:white">Nivel de estudios</label>
            <select class="form-control" id="nivelEstudios" name="nivelEstudios">
              <option value="1">Licenciatura</option>
              <option value="2">Maestría</option>
              <option value="3">Doctorado</option>
            </select>
          </div>
          <div class="form-group">
            <label for="pagoDiarioBase" style="color:white">Pago diario base</label>
            <input type="number" class="form-control" id="pagoDiarioBase" name="pagoDiarioBase" required>
          </div>
          <div class="form-group">
            <label for="diasTrabajados" style="color:white">Días trabajados</label>
            <input type="number" class="form-control" id="diasTrabajados" name="diasTrabajados" required>
          </div>
          <br>
          <button type="submit" class="btn btn-primary">Enviar</button>
          <button type="reset" class="btn btn-secondary" onclick="limpiar()">Limpiar</button>
        </form>
        <br>
        <table id="resultadoTabla" class="table table-bordered"></table>
        </div>
      </div>
      <script>
    function calcularPago(event){
        event.preventDefault();
        const numContrato = document.getElementById('numContrato').value;
        const nombre = document.getElementById('Nombre').value;
        const domicilio = document.getElementById('domicilio').value;
        const nivelEstudios = document.getElementById('nivelEstudios').value;
        const pagoDiarioBase = document.getElementById('pagoDiarioBase').value;
        const diasTrabajados = document.getElementById('diasTrabajados').value;

        const incremento = (nivelEstudios == 1) ? 0.2 : (nivelEstudios == 2) ? 0.5 : 1;
        const subtotal = pagoDiarioBase * diasTrabajados * (1 + incremento);
        const isr = subtotal * 0.16;
        const total = subtotal - isr;

        const resultados = document.getElementById('resultadoTabla');
        resultados.innerHTML = `
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Num. de contrato</th>
                        <td>${numContrato}</td>
                    </tr>
                    <tr>
                        <th scope="row">Nombre</th>
                        <td>${nombre}</td>
                    </tr>
                    <tr>
                        <th scope="row">Domicilio</th>
                        <td>${domicilio}</td>
                    </tr>
                    <tr>
                        <th scope="row">Nivel de estudios</th>
                        <td>${(nivelEstudios == 1) ? 'Licenciatura' : (nivelEstudios == 2) ? 'Maestría' : 'Doctorado'}</td>
                    </tr>
                    <tr>
                        <th scope="row">Pago diario base</th>
                        <td>${pagoDiarioBase}</td>
                    </tr>
                    <tr>
                        <th scope="row">Días trabajados</th>
                        <td>${diasTrabajados}</td>
                    </tr>
                    <tr>
                        <th scope="row">Incremento por nivel de estudios</th>
                        <td>${(incremento - 1) * 100}%</td>
                    </tr>
                    <tr>
                        <th scope="row">Subtotal</th>
                        <td>${subtotal.toFixed(2)}</td>
                    </tr>
                    <tr>
                        <th scope="row">Impuesto ISR (16%)</th>
                        <td>${isr.toFixed(2)}</td>
                    </tr>
                    <tr>
                        <th scope="row">Total a pagar</th>
                        <td>${total.toFixed(2)}</td>
                    </tr>
                </tbody>
            </table>
        `;
    }
    function limpiar() {
        document.getElementById("resultadoTabla").innerHTML = "";
   
}
</script>
    <%-include('partials/piePagina.html')%>
</body>
</html>